<% provide(:title, "About") %>
<div class="center jumbotron" style="box-shadow: 8px 8px 10px #F0F; border: 5px solid #000; background-color: rgba(255,192,203,0.8)">
  <h1 style="font-family: 'Dancing Script', cursive; color: #FFF;">About MyDaddy</h1>
  <h2 style="font-family: 'Sansita Swashed', cursive; text-align: center; font-size: 25px; color: #000">
    The <b><u><i>MOST SECURED</i></u></b> Sugar Daddy & Sugar Momma Website!<br/>
    <br/>
    Discover where we came from, where we are heading, and why you should make the switch to MyDaddy for all of your Sugar Needs!
  </h2>
  <h2>
    <table border="0" text-align="center" style="margin: 0 auto">
      <tr>
        <td style="padding: 10px;">
          <%= link_to "Sugar Adult Signup", '#', class: "btn btn-primary btn-lg", style: "font-family: 'Sansita Swashed', cursive; font-size: 20px;" %>
        </td>
        <td style="padding: 10px;">
          <%= link_to "Sugar Baby Signup", '#', class: "btn btn-success btn-lg", style: "font-family: 'Sansita Swashed', cursive; font-size: 20px;" %>
        </td>
      </tr>
    </table>
  </h2>
</div>
