<% provide(:title, "Contact") %>
<div class="center jumbotron" style="box-shadow: 8px 8px 10px #F0F; border: 5px solid #000; background-color: rgba(255,192,203,0.8)">
  <h1 style="font-family: 'Dancing Script', cursive; color: #FFF;">Contact MyDaddy</h1>
  <h2 style="font-family: 'Sansita Swashed', cursive; text-align: center; font-size: 25px; color: #000">
    We appreciate your interest in MyDaddy!<br/>
    <br/>
    Please use the following form to contact us and we will be in touch shortly!
  </h2>
  <h2>
    <table border="0" text-align="center" style="margin: 0 auto">
      <tr>
        <td style="padding: 10px;">
          <%= link_to "Sugar Adult Signup", '#', class: "btn btn-primary btn-lg", style: "font-family: 'Sansita Swashed', cursive; font-size: 20px;" %>
        </td>
        <td style="padding: 10px;">
          <%= link_to "Sugar Baby Signup", signup_path, class: "btn btn-success btn-lg", style: "font-family: 'Sansita Swashed', cursive; font-size: 20px;" %>
        </td>
      </tr>
    </table>
  </h2>  
</div>
