<% provide(:title, 'Sign up') %>
<div class="center jumbotron" style="box-shadow: 8px 8px 10px #F0F; border: 5px solid #000; background-color: rgba(255,192,203,0.8)">
  <h1 style="font-family: 'Dancing Script', cursive; color: #FFF;">Sugar Baby Signup</h1>
  <h2 style="font-family: 'Sansita Swashed', cursive; text-align: center; font-size: 25px; color: #000">
    Sugar Babbies Sign Up!<br/>
    <br/>
    This Page Will Be The Signup Page For Sugar Babbies!
  </h2>
</div>
