<footer class="footer">
  <small  style="background-color: rgba(0,0,0,0.8)">
    <h3 style="color: #FFF; font-family: 'Sansita Swashed', cursive; font-size: 20px;">This Site Is Designed & Built By: <%= link_to "B10 H4ck3r", 'https://twitter.com/B10H4ck3r', target: :_blank, style: "color: #0F0" %></h3>
  </small>
  <nav  style="background-color: rgba(0,0,0,0.8)">
    <ul>
      <li><%= link_to "About",   about_path, style: "color: #0F0; font-family: 'Sansita Swashed', cursive; font-size: 20px;" %></li>
      <li><%= link_to "Contact", contact_path, style: "color: #0F0; font-family: 'Sansita Swashed', cursive; font-size: 20px;" %></li>
    </ul>
  </nav>
</footer>
