<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: pink">
  <div class="container">
    <%= link_to "MyDaddy", root_path, id: "logo", style: "color: purple; font-family: 'Playfair Display', serif;" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path, style: "color: green; font-family: 'Sansita Swashed', cursive; font-size: 20px;" %></li>
        <li><%= link_to "Help",   help_path, style: "color: green; font-family: 'Sansita Swashed', cursive; font-size: 20px;" %></li>
        <li><%= link_to "Log in", '#', style: "color: green; font-family: 'Sansita Swashed', cursive; font-size: 20px;" %></li>
      </ul>
    </nav>
  </div>
</header>
